a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  width: 50%;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: center;
}

.column {
  float: left;
  width: 50%;
  height: 100%;
}

.column_home {
  float: left;
  width: 33%;
  height: 100%;
}

.center_text {
  width: 50%;
  vertical-align: middle;
  text-align: justify;
  text-align-last: center;
}

#left-col {
  text-align: center;
}

#right-col {
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
